#pageHeader {
    position: fixed;
    background: red;
    top: 0px;
    width: 100%;
    height:auto;
    left: 0px;
}

#container {
    background: rgb(247, 245, 245);
    width: 65%;
    margin: 20px auto;
    padding: 25px;
    border-color:black;
    border-width: thin;
    border-style: double;
    margin-top: 1.5in;
}

h1 {
    font-size: 30pt;
}

h1, h2 {
    text-align: center;
    font-family: 'Grandstander', cursive;
    color: white;
}

h3 {
    font-size: 17pt;
}

body {
    margin-top: 150px;
    font-family: 'Grandstander', cursive;
    font-weight: bolder;
    margin-left: 2rem;
    background-image: url(https://thumbs.dreamstime.com/b/cute-seamless-pattern-paw-prints-animal-background-eps-91841686.jpg);
}

p {
    font-size: larger;
    margin-left: 6rem;
}

input[type='submit'] {
    color:white;
    font-size: 20pt;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: red;
    cursor: pointer;
}

button {
    background-color:white;
    font-size: 25pt;
    color: red;
    font-family: 'Grandstander', cursive;
    font-weight: bold;
    padding-top: 10pt;
    margin-left: 1.5in;
    margin-bottom: 10pt;
    border-radius: 12px;
}

#prize {
    margin-left: 3.25in;
}

.hide {
    display: none;
}