#pageHeader {
    position: fixed;
    background: red;
    top: 0px;
    width: 100%;
    height:auto;
    left: 0px;
}

#container {
    background: white;
    width: 65%;
    margin:20px auto;
    padding: 25px;
    border-color:black;
    border-width: thin;
    border-style: double;
}

h1, h2 {
    text-align: center;
    font-family: 'Grandstander', cursive;
    color: white;
}

h3 {
    font-size: 17pt;
}
body {
    margin-top: 150px;
    font-family: 'Grandstander', cursive;
    font-weight: bolder;
    margin-left: 2rem;
    /* background-image: url(https://publicdomainpictures.net/pictures/50000/velka/paw-prints-1369754041WaV.jpg); */
    background-image: url(https://thumbs.dreamstime.com/b/cute-seamless-pattern-paw-prints-animal-background-eps-91841686.jpg);
}


p {
    font-size: larger;
}

#button {
    color:white;
    font-size: 20pt;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: red;
    cursor: pointer;
}