#pageHeader {
    position: fixed;
    background: yellow;
    top: 0px;
    width: 100%;
    height:auto;
    left: 0px;
}

body {
    margin-top: 150px;
    background-color: aqua;
}

p {
    font-size: larger;
}

#button {
    color: violet;
    font-size: 20pt;
}